<h1 style="text-align: center;">Shopping List for <%= @recipe.name %></h1>

<table>
  <thead>
    <tr>
      <th>Food Item</th>
      <th>Quantity Needed</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @shopping_list_items.each do |item| %>
      <tr>
        <td><%= item[:food_name] %></td>
        <td><%= item[:quantity_needed] %></td>
        <td><%= number_to_currency(item[:total_price]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
