.text-center {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.log-btn {
    margin: 15px 0;
}